<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sleepnano.edusys.eduadminsys.mapper.DepartmentMapper">

  <insert id="insert" parameterType="top.sleepnano.edusys.eduadminsys.entity.Department">
    INSERT INTO
      department(dept_name, edu_sys)
    VALUES
      ( #{deptName},#{edusys})
  </insert>
  <update id="updateDeptEduSys">
    UPDATE department SET edu_sys = #{edusys} WHERE id = #{deptid}
  </update>
  <delete id="deleteByDeptID" parameterType="java.lang.Integer">
      DELETE FROM department WHERE id = #{id}
    </delete>
    <select id="selectAllDepts" resultType="top.sleepnano.edusys.eduadminsys.entity.Department">
    SELECT * FROM department
  </select>
  <select id="selectDeptByID" resultType="top.sleepnano.edusys.eduadminsys.entity.Department"
          parameterType="java.lang.Integer">
    SELECT * FROM department WHERE id = #{id}
  </select>
</mapper>